


*{
  padding: 0;
  margin: 0;
}
/* nave style */
.navbar, nav_link, li{
  list-style: none;
  justify-content: center;
  justify-content: space-between;
  
}
.navbar{
   
  display: flex;
  margin: 95px 120px;
  align-items: center;
 
  
}
.nav_link{
  display: flex;
  gap: 30px;
  
}